.pagination{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

li{
    list-style: none;
    text-align: center;
    font-size: 22px;
}

.prev, .next, .break, .page-item a{
    cursor: pointer;
}

.active{
    font-weight: bold;
    color: var(--color-accent-500);
    border-bottom: 1px solid var(--color-accent-500);
}

.disabled{
    font-weight: lighter;
    cursor: not-allowed;
}

.pagination li:hover{
    color: var(--color-accent-500) !important;
}