.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w-20 {
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    height: 100%;
    padding: 10px 15px;
    width: 20%;
    background-color: #17c3b227;
    box-shadow: 0 0.1rem 0.8rem #000000;
}

.w-75 {
    width: 75%;
}