.character-card {
    background-color: #fafafa;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 7px rgba(0,0,0,.05);
    color: #252525;
    position: relative;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
    -webkit-transition: all 100ms ease-in-out;
}

.character-card:hover {
    border: none;
    transform: scale(1.04);
}

.character-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.character-container{
    padding: 10px;
}

.character-name {
    font-weight: bold;
}

.character-location {
    padding-top: 15px;
}

.character-location small {
    color: gray;
}

.character-status {
    border-radius: 0.25rem;
    color: #fafafa;
    line-height: 1;
    padding: 0.35em 0.65em;
    position: absolute;
    right: 10px;
    top: 10px;
}

.alive {
    background-color: #198754;
}

.dead {
    background-color: #dc3545;
}

.unknown {
    background-color: #6c757d;
}